* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(255, 255, 255);
    
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.header {
    padding-top: 12px;
    padding-bottom: 20px;
    padding-right: 60px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #31343d;
    color: #31343d;
}

.name-header {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 12px;
    width: 453px;
}

.name-header img {
    border-radius: 50%;
}

.float-left {
    float: left;
}

.name-header div {
    margin-top: 26px;
}

.header h1 {
    display: inline-block;
    font-size: 40px;
    background-color: #92cbcd;;
    text-align: right;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.header nav {
    padding-top: 15px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
}

a {
    border-bottom: 3px solid #92cbcd;
    padding-bottom: 2px;
    padding-left: 7px;
    padding-right: 7px;
    text-align: left;
    color: #92cbcd;
    text-decoration: none;
}

.main-image {
    max-width: 100%;
    position: relative;
}

.main-image img {
    max-width: inherit;
}

.main-image div {
    position: absolute;
    padding: 4px;
    bottom: 20px;
    right: 50px;
    background-color: blanchedalmond;
    font-size: 28px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
} 

.about-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: transparent;
    background-size: cover;
    color: #31343d;
}

.about-me h2 {
    border-right: 3px solid black;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-top: 0px;
    text-align: end;
    font-size: 40px;
    float: left;
    width: 150px;
    margin-right: 20px;
}

.about-me p {
    text-align: left;
}

.work {
    display: inline-block;
    padding: 61px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: transparent;
    background-size: cover;
    color: #31343d;
    display: flex;
} 

.work h3 {
    border-right: 3px solid black; 
    padding-bottom: 700px;
    padding-right: 15px;
    padding-top: 0px;
    text-align: end;
    font-size: 40px;
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    width: 150px;
}

.columnbar {
    position: relative;
    opacity: .6;
    transition: .5s;
}

.small-app1,
.small-app2,
.small-app3,
.small-app4 {
    opacity: .6;
    transition: .5s;
}

.columnbar:hover, 
.small-app1:hover,
.small-app2:hover,
.small-app3:hover,
.small-app4:hover {opacity: 1}

.columnbar img { 
    max-width: 100%;
    border: 5px solid aqua;
}

.columnbar div,
.small-app1 div,
.small-app2 div,
.small-app3 div,
.small-app4 div {
    position: absolute;
    bottom: 37px;
    background-color: aqua;
    padding: 3px;
    margin-left: 5px;
    font-size: 28px;
    font-weight: bold;
    flex: 2 2 120px;
}

.columnbar div .lower-text,
.small-app1 div .lower-text,
.small-app2 div .lower-text,
.small-app3 div .lower-text,
.small-app4 div .lower-text {
    font-size: 15px;
    font-weight: normal;
}

.small-app1 img,
.small-app2 img,
.small-app3 img,
.small-app4 img {
    max-width: 100%;;
    border: 5px solid aqua;
}

.small-app1,
.small-app2,
.small-app3,
.small-app4 {
    position: relative;
    display: flex;
}

.contact-me {
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: transparent;
    color: #31343d;
}

.contact-me h3 {
    border-right: 3px solid black; 
    padding-right: 15px;
    padding-top: 0px;
    text-align: end;
    font-size: 40px;
    float: left;
    margin-right: 30px;
    width: 150px;
}

.contact-me p {
    text-align: left;
    margin-left: 175px;
}

.info nav {
    padding-top: 15px;
    float: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.info nav ul {
    list-style-type: none;
}

.info nav ul li {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
}

.info nav ul li a {
    border-bottom: 3px solid #92cbcd;
    padding-bottom: 2px;
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
    color: #92cbcd;
    text-decoration: none;
}

/*Reference material*/
.move-down {
    margin: 1px;
}
.row {
    display: flex;
    gap: 5px;
}

.column {
    padding: 1rem 0;
    flex: 1;
}

.col-two-thirds {
    flex: 2;
}

@media only screen and (max-width: 768px) {
    
    .row {
        flex-wrap: wrap;
    }

    .column {
        flex-basis: 100%;
    }

    .main-image div {
        font-size: 18px;
    } 

    .contact-me,
    .about-me,
    .work {
        flex-direction: column;
    }

    .work h3 {
        border-right: 0;
        text-decoration: underline;
        padding-bottom: 0;
        width: 65vw;
        text-align: center;
    }

    .work-text {
        margin-bottom: 25px;
    }

    .columnbar div,
    .small-app1 div,
    .small-app2 div,
    .small-app3 div,
    .small-app4 div {
        bottom: 26px;
        padding-right: 10px;
        font-size: 18px;
    }
    
    .columnbar div .lower-text,
    .small-app1 div .lower-text,
    .small-app2 div .lower-text,
    .small-app3 div .lower-text,
    .small-app4 div .lower-text {
        font-size: 10px;
    }

    .contact-me h3 {
        border-right: 0;
        text-decoration: underline;
        padding-bottom: 0;
        width: 100%;
        text-align: center;
        padding-right: 0;
        margin-right: 0;
    }

    .about-me h2 {
        border-right: 0;
        text-decoration: underline;
        padding-bottom: 15;
        width: 82vw;
        text-align: center;
    }

    .about-me p {
        margin-left: 10px;
    }

    .info {
        text-align: center;
    }

    .info nav {
        padding-top: 0px;
    }
}